snippet chunk "Productivity Chunk" b
## Begin
Duration: $0

Goal: $1

Posture: $2

Music type(s): $3

## During
Open questions:

Inefficiencies/Interruptions:

## End
Result: _/5

Notes: 

- [ ] Stretched
- [ ] Asked open questions
- [ ] Addressed inefficiencies
endsnippet
